.title{
    color: #fff;
}

.reservas{
    padding: 20px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservas img{
    height: 100px;
}

.reservas button{
    background: #000;
    border: 0;
}



footer button{
    border: 0;
    display: flex;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bold;
}

.reservas #amount{
    display: flex;
    align-items: center;
    
}

.reservas #amount span{
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
    width: 45px;
}

.reservas #amount button{
    background: #fff;
    border: 0;
}
